<section class="re-contact-us" id="contact">
    <div class="re-contact-us__sky" ></div>
    <div class="re-contact-us__square"></div>
    <div class="re-contact-us__container">
        <div class="re-contact-us__content">
            <re-title [title]="'¿Estas listo para transformar tu vida?'"></re-title>
            <div>En Renacimiento Espiritual, entendemos la importancia de encontrar guía y apoyo espiritual en momentos cruciales de tu vida. Ya sea que busques amor, reconectar con un ser querido, o eliminar energías negativas, estamos aquí para ofrecerte soluciones personalizadas y efectivas. No dudes en ponerte en contacto con nosotros para una consulta inicial gratuita y descubrir cómo podemos ayudarte a alcanzar la paz y felicidad que mereces</div>
            <re-button>
                ¡Contáctanos Hoy!
            </re-button>
        </div>
        <div  class="re-contact-us__image">
            <img src="./assets/images/couple.png" alt="couple" >
        </div>
    </div>
</section>