<footer class="re-footer">
    <img class="re-footer__logo" src="./assets/images/logo.png" alt="re_logo" >
    <div class="re-footer__network">
        <img src="./assets/images/instagram.png" alt="instagram">
        <a href="https://wa.me/15846005120?text=Hola%20👋,%20me%20gustaría%20saber%20más%20sobre%20Renacimiento%20Espiritual.%20✨" target="_blank">
            <img src="./assets/images/whatsapp.png"  alt="Contáctanos en WhatsApp">
        </a>


    </div>
    <div class="re-footer__copy">Todos lo derechos reservados</div>
</footer>
