.re-footer {
    width: 100%;
    min-height: 50vh;
    background: url('../../../assets/images/blue_sky2.png') no-repeat;
    background-position: top;
    background-size: 100%;
    z-index: 4;
    position: relative;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

    &__logo {
        max-width: 100%;
    }

    &__network {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        img {
            width: 50px;
            &:hover {
                filter: drop-shadow(white 1px 1px 10px);
                cursor: pointer;
            }
        }
    }
    &__copy {
        padding: 1rem;
        font-size: 24px;
        font-family: var(--font-family);
        color: var(--color-white);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
    }

    @media (max-width: 550px) {
        padding: 2rem;
    }

}