.re-about-us {
    width: 100vw;
    min-height: 100vh;
    background: var(--color-purple-800);
    position: relative;
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: center;

    img {
        mix-blend-mode: color-dodge;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &__horoscopo {
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 90vh;

        &--circle, &--star {
            mix-blend-mode: overlay !important;
            position: absolute;
            z-index: 2;

        }
        &--main {
            mix-blend-mode: screen !important;
            position: absolute;
        }
    }

    &__description {
        width: 50%;
        padding: 0 0 0 8rem;

        div {

            font-family: var(--font-family-secondary);
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            color: var(--color-white);


        }
    }

    @media (max-width: 550px) {
        flex-wrap: wrap-reverse;

        &__description {
            width: 100%;
            padding: 1rem;
        }

        &__horoscopo {
            width: 100%;
            height: 50vh;
        }

    }
}



