<section class="re-about-us" id="home">
    <img src="./assets/images/stars.svg" alt="stars" width="100%" height="100%">
    <div class="re-about-us__description">
        <re-title [title]="'¿Quienes somos?'"></re-title>
        <div>
            En <strong>Renacimiento Espiritual</strong>, nos especializamos en brindar apoyo y guía espiritual para aquellos que buscan mejorar su vida amorosa y restaurar relaciones significativas. 
            <br/><br/>Nuestro enfoque se basa en la sabiduría ancestral y el poder de la fe, combinando técnicas tradicionales con un profundo respeto por las creencias espirituales de cada individuo. Ofrecemos un espacio seguro y confidencial donde cada persona puede explorar sus necesidades emocionales y recibir la orientación necesaria para lograr una transformación positiva en su vida amorosa.
            <br/><br/>En <strong>Renacimiento Espiritual</strong>, creemos en la importancia del amor y la conexión emocional. Nuestro objetivo es ayudar a cada cliente a alcanzar la felicidad y la plenitud a través de métodos espirituales efectivos y respetuosos. Confía en nosotros para guiarte en tu viaje hacia un amor duradero y significativo.
        </div>
    </div>
    <div class="re-about-us__horoscopo">

        <img class="re-about-us__horoscopo--main" src="./assets/images/horoscopo1.svg" alt="stars" width="100%" height="100%">
        <img class="re-about-us__horoscopo--start" src="./assets/images/horoscopo-star.svg" alt="stars" width="100%" height="100%">

    </div>
</section>