<div class="re-benefits">
    <div class="re-benefits__title">
        ¿Por Qué Elegir Renacimiento Espiritual?
    </div>
    <div class="re-benefits__container">
        <div class="re-benefits__card" *ngFor="let benefit of benefits">
            <img [src]="'./assets/images/' + benefit.image" alt="{{benefit.title}}">
            <div class="re-benefits__card-title">
                <h5>{{benefit.title}}</h5>
                <span>{{benefit.description}}</span>
            </div>
        </div>

    </div>
</div>
