.re-services {
    width: 100%;
    min-height: 100vh;
    z-index: 1;
    position: relative;
    padding: 10rem 3rem ;

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 4rem;
        row-gap: 5rem;
        flex-wrap: wrap;
        position: relative;
    }

    &__card {
        &-front span {
            position: absolute;
            z-index: 2;
            bottom: 3.5rem;
            color: var(--color-white);
            font-family: var(--font-family);
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height: 40px;
            white-space: nowrap;
            left: 50%;
            transform: translateX(-55%);

            
        }
        &:nth-child(4), &:nth-child(5) {
            .re-services__card-front span {
                transform: translateX(-50%);
                bottom: 2.5rem;
            }
        }
    }

    &__header  {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 50%;
        margin: auto;

        div {
            font-family: var(--font-family-secondary);
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            text-align: center;
            color: var(--color-white);
            margin-bottom: 5rem;

        }
    }

    &__cloud-container {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;


        img:first-child {
            top: 50%;
            transform: translateY(-25%);
            position: absolute;
        }

        img:last-child {
            bottom: 0;
            right: 0;
            position: absolute;
        }
    }

    &__card {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        perspective: 1000px;
        background-color: transparent;

        width: 350px;
        height: 70vh;

        &#retorno {
            .re-services__card-front {
                background: url(/assets/images/retorno_de_pareja.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
    
            .re-services__card-back {
                background: url(/assets/images/card-back.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }

            &:hover {
                .re-services__card-inner {
                    transform: rotateY(180deg);
                    
                }
            } 
        }
       
        &#alejamiento {
            .re-services__card-front {
                background: url(/assets/images/alejamiento_de_personas.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
    
            .re-services__card-back {
                background: url(/assets/images/card-back.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }

            &:hover {
                .re-services__card-inner {
                    transform: rotateY(180deg);
                    
                }
            } 
        }

        &#endulzamiento {
            .re-services__card-front {
                background: url(/assets/images/endulzamiento_amoroso.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
    
            .re-services__card-back {
                background: url(/assets/images/card-back.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }

            &:hover {
                .re-services__card-inner {
                    transform: rotateY(180deg);
                    
                }
            } 
        }

        &#limpia {
            .re-services__card-front {
                background: url(/assets/images/limpias_espirituales.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
    
            .re-services__card-back {
                background: url(/assets/images/card-back.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }

            &:hover {
                .re-services__card-inner {
                    transform: rotateY(180deg);
                    
                }
            } 
        }

        &#union {
            .re-services__card-front {
                background: url(/assets/images/uniones_carnales.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
    
            .re-services__card-back {
                background: url(/assets/images/card-back.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }

            &:hover {
                .re-services__card-inner {
                    transform: rotateY(180deg);
                    
                }
            } 
        }

        &-front, &-back {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        &-back {
            transform: rotateY(180deg);

            span {
                width: 275px;
                position: absolute;
                color: var(--color-white);
                font-family: var(--font-family-secondary);
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 20px;
                top: 50%;
                transform: translate(-40%, -50%);
                left: 40%;

                ::ng-deep .re-button {
                    font-size: 24px;
                    margin-top: 2rem;

                }
            }
        }
    
        &-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: justify;
            transition: transform 0.6s;
            transform-style: preserve-3d;
        }
        
    }
}